# Dependency directory
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git-
node_modules

# Debug log from npm
npm-debug.log

# Webpack
dist
build
bundle.css

# Awesome typescript loader
.awcache

# Jest
coverage
test-results.json

# google client
client_secret.json

# ctags
TAGS
tags

# lambda
functions
lambda/*.js
